body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #FFCC00;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar h1 {
    color: #00457C;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #00457C;
    text-decoration: none;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
    font-size: 1.2em; /* Increase font size for better readability */
}

nav a:hover {
    background: #00457C;
    color: white;
    border-radius: 5px;
}

.main-banner {
    background: linear-gradient(to bottom, #00457C, #00243E);
    color: white;
    padding: 60px 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.main-content {
    background: #E0E0E0;
    padding: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
    animation: fadeIn 0.5s ease-out;
}

.section img:hover {
    transform: scale(1.05);
}

.about-us {
    background: #00457C;
    color: white;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background: #00457C;
    padding: 40px;
    color: white;
}

.footer-content {
    max-width: 500px;
    margin: 0 auto;
}

.footer-content h3 {
    color: #FFCC00;
    margin-bottom: 10px;
}

.footer-content p {
    margin: 10px 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    margin: 5px 0;
}

.footer-content ul li a {
    color: #FFCC00;
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Media Queries */
@media (max-width: 768px) {
    .top-bar, .main-banner, .main-content, .footer {
        padding: 10px;
    }

    .top-bar h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 10px 20px;
    }

    .section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .section img {
        width: 100%;
        height: auto;
    }

    .about-us {
        margin-top: 20px;
    }
}
